@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body,
.translate {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

header {
    height: 300px;
}

h1 {
    margin: 100px auto 30px;
    font-size: 24px;
}

h2 {
    margin: 15px auto;
}

.pig-fence {
    background-image: url("img/pig-latin.jpeg");
    width: 300px;
    height: 150px;
    background-size: contain;
    margin: auto;
    border-radius: 2px;
}

main {
    width: 100%;
    background-color: rgb(115, 200, 225);
    min-height: 500px;
    padding: 30px 0px;
}

.pig-latin-input {
    width: 475px;
}

.translate {
    font-weight: bold;
    
}